@using ServiceLookup.BL.DTO
@model IEnumerable<ServiceDTO>
    @{
    ViewBag.Title = "Услуги";
    Layout = "_Layout";
}

<form method="post">
</form>

@await Html.PartialAsync("/Views/User/Partial/ServicesPartial.cshtml", Model)

