@using ServiceLookup.BL.DTO
@model IEnumerable<ServiceDTO>
    @{
    ViewBag.Title = "Услуги";
    Layout = "_Layout";
}

<h4 class="text-center">Перегляд профілю</h4>
@await Html.PartialAsync("/Views/User/Partial/ServicesPartial.cshtml", Model)

