@using ServiceLookup.Models.UserVM
@model UsersServicesViewModel
    @{
    ViewBag.Title = "Услуги";
    Layout = "_Layout";
}
<h2>Все услуги мастера <a href="/User/GetUsers/@Model.User.Id" class="stretched-link">@Model.User.Name</a></h2>
@await Html.PartialAsync("/Views/User/Partial/ServicesPartial.cshtml", Model.Services)