@using ServiceLookup.DAL.Entity;
@Model List<Service>
    @{
        ViewBag.Title = "Услуги";
        Layout = "_Layout";
    }

    <form method = "post">

    </form>

    <table class="table table-success table-striped">
        <tr><th>Id</th><th>Title</th><th>Info</th></tr>

        @foreach (var service in Model)
        {
            <tr><td>@service.Id</td><td>@service.Title</td><td>@service.Info</td></tr>
        }
    </table>
