@using ServiceLookup.Models.ManageVM

@model ServiceViewModel

<h4 class="text-center px-0">Редагування послуги</h4>
<div class="container py-5 bg-light">
    <form method="post" asp-controller="Manage" asp-action="CreateService" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="col-auto">
                    <label asp-for="Title" class="form-label">Назва послуги</label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="Ім'я" aria-label="Title">
                </div>

                <div class="col-auto">
                    <label asp-for="Info" class="form-label">Інформація про послугу</label>
                    <textarea asp-for="Info" class="form-control" rows="3"
                              placeholder="Введіть інформацію про послугу"></textarea>
                </div>

                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <label asp-for="Price.Value" class="form-label">Ціна</label>
                        <input asp-for="Price.Value" type="number" class="form-control" placeholder="Введіть ціну"
                               aria-label="PriceValue">
                    </div>
                    <div class="col-auto">
                        <label asp-for="Price.Value" class="form-label">Ціна</label>
                        <select asp-for="Price.Currency" class="form-select" aria-label="Currency select">
                            <option selected>Оберіть валюту</option>
                            <option value="Гривна">Гривна</option>
                            <option value="Доллар">Доллар</option>
                            <option value="Евро">Евро</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <label asp-for="ImageFile">Додати нове зображення до послуги</label>
                <input asp-for="ImageFile" type="file" class="form-control" />
            </div>
        </div>
        <div class="row row-cols-2">
            <div class="d-grid gap-2 col-4">
                <button type="submit" class="btn btn-secondary">Зберегти</button>
            </div>
            <div class="d-grid gap-2 col-4">
                <a asp-controller="Manage" asp-action="MyServices" class="btn btn-outline-secondary">Скасувати</a>
            </div>
        </div>
    </form>
</div>
