@using ServiceLookup.BL.DTO
@model IEnumerable<UserDTO>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-2 row-cols-md-3 g-4">
            @foreach (var user in Model)
            {
                <div class="col">
                    <div class="card text-center" style="max-width: 250">
                        <img src="services/massagist1.jpg" class="card-img-top" alt="No Photo">
                        <div class="card-body">
                            <h5 class="card-title">@user.Name @user.Surname</h5>
                            <p class="card-text">@user.ShortDescription</p>
                            <dl class="row">
                                <dd class="col-9 text-start">Рейтинг</dd>
                                <dd class="col-3 text-end">@user.AverageRate</dd>
                            </dl>
                            <a href="/User/GetUser/@user.Id" class="btn btn-outline-secondary stretched-link">Переглянути профіль</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
